<div class="col-sm-4 col-sm-offset-4">
  <br>
  <div class="signupbox">
    <%= form_for @user, :html => { :multipart => true, :id => "user-form" } do |f| %>
      <%= f.label :first_name, "First Name " %>:
      <%= f.text_field :first_name, class:"form-control", required: true %><br />
      <%= f.label :last_name, "Last Name " %>:
      <%= f.text_field :last_name, class:"form-control", required: true %><br />
      <%= f.label :email, "Email" %>:
      <%= f.email_field :email, class:"form-control", required: true %><br />
      <%= f.label :password, "Password" %>:
      <%= f.password_field :password, class:"form-control", required: true %><br />
      
      <% if !logged_in? %>
          <%= f.radio_button(:user_type, true) %>
          <%= f.label(:user_type, "I represent a charity") %>&nbsp&nbsp <br>
          <%= f.radio_button(:user_type, false) %>
          <%= f.label(:user_type, "I want to donate to charities") %>
      <% end %>
      <br>
        Upload A Photo
        <br>
        <br>
        <%= f.file_field :avatar %>
        <br>
        <br>
      <% if logged_in? %>
        <% if @user.avatar %> 
          <%= image_tag @user.avatar.url(:medium) %>
            Current Photo
        <br>
        <br>
        <br>
      <% end %>
      <% end %>
      <% if logged_in? %>
        <%= f.submit "Update Profile", class:"btn btn-primary" %>
        <%= link_to "Delete Account",  @user, method: :delete, class: "btn btn-danger"  %>
      <% else %>
        <%= f.submit "Join Us!", class:"btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
