<!DOCTYPE html>
<html>
<head>
  <title>Givalittle</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  	<!--   <meta name="viewport" content="width=device-width, initial-scale=1"-->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

<link rel="icon" type="image/png" sizes="25x25" href="<%= asset_path"logo.png"  %>">

<!-- <<<<<<< HEAD -->
  <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>

<!--   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
======= -->
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.simplify.com/commerce/v1/simplify.js' %>
  <%= csrf_meta_tags %>
<!-- >>>>>>> ccd88f5521a25ab82b041c1273adeddd8a57eb8c -->
</head>
<body>

<nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <header>
          <a class="navbar-brand" id="brand" href="/">Givalittle</a>
        </header>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav dropdown-menu" id="auth">
             <li> <%= link_to "Home", root_path %></li>
          </ul>            
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "About", about_path %></li>
            <!-- log in / log out -->
            <% if logged_in? %>
              <%= link_to "Logout", logout_path, class: "btn navbar-btn navbar-right btn-warning" %> 
              <%= link_to "Profile", profile_path(current_user), class: "btn navbar-btn navbar-right btn-warning" %>
            <% else %>
              <%= link_to "Login", login_path, class: "btn navbar-btn navbar-right btn-warning" %>
              <%= link_to "Sign Up", signup_path, class: "btn navbar-btn navbar-right btn-warning" %>
            <% end %>
          </ul>
        </div>
      </div>
<!-- /.navbar-collapse -->
    <!-- </div>/.container-fluid -->
 </nav>


<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
